body{
  height:100vh;
}


header{
  width: 100vw;
  height: 100px;
  background-color: green;
  grid-area: he;
  display: grid;
  grid-template: columns: 20% 20% 20% 20% 20%;
  grid-template: rows: 100%;
  grid-template-areas:
    "ar ny in . sö";
}
#artiklar{
  max-width: 100%;
  width: 100%;
  height: 100px;
  background-color: blue;
  grid-area: ar;
}
#nyheter{
  max-width: 100%;
  width: 100%;
  height: 100px;
  background-color: red;
  grid-area: ny;
}
#info{
  max-width: 100%;
  width: 100%;
  height: 100px;
  background-color: yellow;
  grid-area: in;
}
#sök{
  max-width: 100%;
  width: 100%;
  height: 100px;
  background-color: violet;
  grid-area: sö;
}

#wrapper{
  justify-content: center;
  height: 100%;
  display: grid;
  grid-template: columns: 20% 20% 20% 20% 20%;
  grid-template: rows: 100%;
  grid-template-areas:
    "he he he he he";
}
