.body{
  height: 100vh;
}


.header{
  .header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
}
#artiklar{
  width: 100px;
  height: 75px;
  background-color: blue;
}
#nyheter{
  width: 100px;
  height: 75px;
  background-color: red;
}
#info{
  width: 100px;
  height: 75px;
  background-color: yellow;
}

#wrapper{
  height: 100%;
  display: grid;
  grid-template: columns: 20% 20% 20% 20% 20%;
  grid-template: rows: 100%;
  grid-template-areas:
    "he he he he he";
}
